<ul class="nav nav-list">
    <li><a href="{{ path('admin_film_index') }}">Liste des films</a></li>
    <li><a href="{{ path('admin_category_index') }}">Liste des catégorie</a></li>
    <li><a href="{{ path('admin_film_index') }}">Liste des utilisateurs</a></li>
    <li><a href="{{ path('homepage') }}" class="text-danger">Quitter l'administration</a></li>

</ul>