{% extends "base.html.twig" %}
{% block body %}
    {{ form_start(form, {'method': 'post', 'action': path('registration_new'), 'attr': {'class':''}})}}
        <div class="form-group col-md-8">
            {{ form_widget(form) }}
        </div>
    {{ form_end(form) }}
{% endblock %}