<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>

    <title>{% block title %}Netflix Symfony{% endblock %}</title>
    {% block stylesheets %}
        <link rel="stylesheet" type="text/css"
              href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="{{ asset('css/style.css') }}">
    {% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}"/>
</head>
<body>
<div class="container-fluid">
    <header class="row">
        <div class="col-sm-12">
            <h1 class="col-sm-3">Netflix Symfony</h1>
            <div class="">
                <div class="form-inline pull-right">
                    {{ render(controller('AppBundle:Film:searchForm')) }}
                </div>
                {% if has_role('IS_ANONYMOUS') %}
                    <a href="{{ path('login') }}">Connexion</a>
                {% else %}
                    <div>
                        <form id="logout_form" method="post" action="{{ path("logout") }}">
                            <button class="submit-link" type="submit">
                                Déconnexion
                            </button>
                        </form>
                    </div>
                {% endif %}
            </div>
        </div>
    </header>
    <nav></nav>
    <div id="content">
        {% block body %}{% endblock %}
    </div>
    <footer class="row">
            <div class="col-sm-3 col-sm-offset-1">
                <ul>
                    <li>Nouveauté</li>
                    <li>Liste des films</li>
                    <li>Liste des series</li>
                </ul>
            </div>
            <div  class="col-sm-3">
                <ul>
                    <li>Contact</li>
                    <li></li>
                </ul>
            </div>
            <div  class="col-sm-3">
                <ul>
                    <li>FAQ</li>
                    <li>Plan du site</li>
                </ul>
            </div>
    </footer>
    {% block javascripts %}
        <script
                src="https://code.jquery.com/jquery-3.3.1.min.js"
                integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
                crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    {% endblock %}
</div>
</body>
</html>
