{% extends 'base.html.twig' %}

{% block body %}
    <h1>Liste des catégories</h1>

    <div class="row">
        <div class="col-sm-12">
            <div class="col-sm-3 well">
                {{ include('adminFilm/navigation/nav.html.twig') }}
            </div>
            <div class="col-sm-8">
                <div class="row">
                    <div class="col-sm-12">
                        <table class="table">
                            <thead>
                            <tr>
                                <th>Name</th>
                                <th>Code</th>
                                <th>Actions</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for category in categories %}
                                <tr>
                                    <td>{{ category.name }}</td>
                                    <td>{{ category.code }}</td>
                                    <td>
                                        <a href="{{ path('admin_category_show', { 'id': category.id }) }}"
                                           class="glyphicon glyphicon-eye-open"></a>
                                        <a href="{{ path('admin_category_edit', { 'id': category.id }) }}"
                                           class="glyphicon glyphicon-pencil"></a>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>

                    <div class="row">
                        <div class="col-sm-12">
                            <a href="{{ path('admin_category_new') }}" class="btn btn-success col-sm-offset-1">Crée une nouvelle catégorie <span class="glyphicon glyphicon-plus"></span></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

