{% extends "base.html.twig" %}

{% block body %}
    {% if films|length == 0  %}
        <h2>Il n'y a aucun film disponible pour le moment</h2>
    {% else %}
        <div class="thumbnails list_content">
            {% for film in films %}
                <div class="film_content">
                    <a href="{{ path('film_view', {'id': film.id}) }}"><img src="{{ asset('img/films/' ~ film.image.path) }}" alt="{{ film.image.alt }}" width="200" height="300"></a>
                    <h3>{{ film.title }}</h3>
                    <p>{{ film.description| striptags | slice(0, 60) ~ ' ...' }}</p>
                </div>
            {% endfor %}
        </div>
    {% endif %}
{% endblock %}